---
import "../assets/app.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Yin Chu Rijnaard's software engineering portfolio"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, React, Next.js, TypeScript, Astro"
    />
    <meta name="author" content="Yin Chu Rijnaard" />
    <title>Yin Chu Rijnaard</title>
  </head>

  <!-- Content -->
  <body class="min-h-screen min-w-screen">
    <h1>My website</h1>
  </body>
</html>
