<div class="flex flex-col gap-4 p-8 sm:px-32">
  <!-- ABOUT -->
  <div class="flex flex-col gap-1 font-bold">
    <h2
      class="bg-linear-to-r from-orange-500 via-teal-500 to-violet-500 bg-clip-text font-mono text-2xl font-black tracking-tighter text-transparent sm:text-4xl"
    >
      // about
    </h2>
    <h3 class="text-text-secondary">More about me</h3>
  </div>

  <!-- ABOUT ME PARAGRAPH -->
  <div class="flex max-w-prose flex-col gap-2">
    <p>
      I&apos;ve been into tech and technologies since a young age. I first got
      into web development around 2021. After a looong break due to... well,
      life, we&apos;re here again.
    </p>
    <p>
      Besides building things with code, I like to hike, &#40;mountain&#41;
      bike, &#40;trail&#41; run and trek in the mountains in the summer. In the
      winter, you can find me on a pair of skis going down, or up when I&apos;m
      ski touring. The mountains, in general, are my happy place.
    </p>
    <p>👨🏻‍💻 📸 🥾 🏃🏻 🚵🏻‍♂️</p>
  </div>
</div>
