<div class="text-text-secondary flex flex-col gap-4 p-8 sm:px-32">
  <!-- DIV 1 -->
  <!-- ABOUT -->
  <div class="flex flex-col gap-1 font-bold">
    <h2 class="text-text text-2xl sm:text-4xl">
      About<span class="text-orange-500">.</span>
    </h2>
    <h3>More about me</h3>
  </div>

  <!-- DIV 2 -->
  <!-- ABOUT ME PARAGRAPH -->
  <div class="flex max-w-prose flex-col gap-2">
    <p>
      I&apos;ve been into tech and technologies since a young age. I first got
      into web development around 2021. After a looong break due to... well,
      life, we&apos;re here again.
    </p>
    <p>
      Besides building things with code, I like to hike, &#40;mountain&#41;
      bike, &#40;trail&#41; run and trek in the mountains in the summer. In the
      winter, you can find me on a pair of skis going down, or up when I&apos;m
      ski touring. The mountains, in general, are my happy place.
    </p>
    <p>👨🏻‍💻 📸 🥾 🏃🏻 🚵🏻‍♂️</p>
  </div>
</div>
