---
// To Do / Check
// - Change links to icons
---

<div class="flex flex-col items-center justify-center gap-8">
  <!-- INTRODUCTION TEXT -->
  <!-- Stylistic decision to write a lowercase 'h' and a lowercase 'i' -->
  <div class="flex flex-col items-center justify-center gap-8 text-center">
    <p class="text-2xl italic sm:text-4xl">hi, i&apos;m</p>
    <h1
      class="bg-linear-to-r from-violet-500 via-sky-500 to-rose-500 bg-clip-text text-center text-6xl font-black tracking-tighter text-transparent sm:text-8xl"
    >
      Yin Chu Rijnaard
    </h1>
    <p class="text-2xl **:sm:text-4xl">
      I create stuff on and for the internet ʕ•ᴥ•ʔ
    </p>
  </div>

  <!-- SOCIAL LINKS -->
  <div class="flex flex-row items-center justify-center gap-4">
    <button class="btn">
      <a
        href="https://github.com/yinchurijnaard"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
    </button>
    <button class="btn">
      <a
        href="https://www.linkedin.com/in/yinchurijnaard/"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </button>
  </div>
</div>
