<div class="flex flex-col gap-4 p-8 sm:px-32">
  <!-- INTRODUCTION TEXT -->
  <div class="flex flex-col gap-4 font-bold">
    <h1
      class="bg-linear-to-r from-blue-500 via-red-500 to-green-500 bg-clip-text text-6xl font-black tracking-tighter text-transparent sm:text-8xl"
    >
      Yin Chu Rijnaard
    </h1>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl sm:text-4xl">Frontend Developer</h2>
      <h3 class="text-text-secondary text-lg sm:text-2xl">
        I create stuff on and for the internet ʕ•ᴥ•ʔ
      </h3>
    </div>
  </div>

  <!-- SOCIAL LINKS -->
  <div>
    <button class="px-2">
      <a
        href="https://github.com/yinchurijnaard"
        target="_blank"
        rel="noopener noreferrer"
        class="text-text-secondary hover:text-text underline"
      >
        GitHub
      </a>
    </button>
    <span>|</span>
    <button class="px-2">
      <a
        href="https://www.linkedin.com/in/yinchurijnaard/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-text-secondary hover:text-text underline"
      >
        LinkedIn
      </a>
    </button>
  </div>
</div>
