<div class="flex flex-col gap-4 p-8 sm:px-32">
  <!-- ABOUT -->
  <div class="flex flex-col gap-1 font-bold">
    <h2
      class="bg-linear-to-r from-orange-500 via-teal-500 to-violet-500 bg-clip-text font-mono text-2xl font-black tracking-tighter text-transparent sm:text-4xl"
    >
      // projects
    </h2>
    <h3 class="text-text-secondary">Some of the things I&apos;ve built</h3>
  </div>

  <!-- ABOUT ME PARAGRAPH -->
  <div class="flex flex-col gap-2 sm:w-1/2"></div>
</div>
